<div class="col-md-3" id ="rightsidebar">
                <div class="sidebar">
                    <div class="widget widget-nav-menu">
                        <div class=" widget-inner">
                            <h2 class="widget-title maincolor2">Main Menu</h2>
                            <div class="menu-main-navigation-container">
                                <ul id="menu-main-navigation-1" class="menu">
                                    <li class="menu-item">
                                        <a href="<?php echo $this->webroot; ?>"><i class="fa fa-home"></i> Home</a>
                                       
                                    </li>

                                    <li class="menu-item"><a href="<?php echo $this->webroot; ?>universities/collegelist"><i class="fa fa-bookmark"></i> List of universities</a>
                                       
                                    </li>
                                    <li class="menu-item"><a href="<?php echo $this->webroot; ?>colleges/languagecoaching"><i class="fa fa-graduation-cap"></i> Language Coaching</a>
                                        
                                    </li>
                                    <li class="sub-menu-left menu-item"><a href="http://techynab.com/lifeplanner/universities/contact_us"><i class="fa fa-file-text"></i>   Contact Us</a>
                                       
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div><!-- /col-md-9 -->
        </div><!-- /col-md-3 -->