<script>
    /*$(document).ready(function(){ 
        
        $(".bootstrap-growl").remove();
        $.bootstrapGrowl("<?php echo $message ?>", { 
        type: 'success',
        width: 'auto',
        align: 'center',
        delay: 3000,
     });
});*/
</script>
<script>


$(document).ready(function(){ 

$.magnificPopup.open({items: {src: '#msg-modal'},type: 'inline'}, 0);
});
</script>
<div id="msg-modal" class="textContent white-popup mfp-with-anim mfp-hide flashMsgs" style="width:100%;text-align:center;">
           <span style="color:#58A122; font-size:18px; font-weight:700;"> <?php echo $message; ?></span>
</div>
<style type="text/css">
.flashMsgs{padding: 30px;}
.textContent {
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 700px;
    margin: 40px auto;
    position: relative;
    line-height: 32px;
    font-size: 16px;
    border-radius: 5px;
}
</style>


