
<?php foreach($blogdiscussions as $blogdiscussion){ ?>
<div class="event-listing event-listing-classic">
    <article class="post-item row event-classic-item">
        <div class="col-md-12 col-sm-4">
            <div class="content-pad">
                <div class="item-content">
                    <div class="price main-color-1"><?php echo $blogdiscussion['User']['first_name'];?></div>
                    
                    <p><?php echo $blogdiscussion['Blogdiscussion']['content']; ?></p>
                    
                </div>
            </div>
        </div>
    </article>
</div>
    <?php } ?>
