/**  
  * Row
  * Flat divider
  * Title section
  * Post Scroller
  * Flat Choose-us
  * Flat reviews
  * Flat-news
  * Event Grid
  * Course List
  * Flat-fluid 
  * Flat-university
  * Flat-Event
  * Flat-iconbox
  * Flat information
  * Flat-teaser-wrapper
  * Contact
  * Flat-smarter
  * Flat portfolio
  * Flat-portfolio-single
  * Flat-clients
  * Flat-future
  * Flat-banner
  * Flat video fancybox
  * Flat-course-single
  * Flat-event-single
  * Flat-ev-carousel
  * course-list-table
  * 404
  * Member
  * Member-single
  * Flat-Preloader
*/


/* Row
-------------------------------------------------------------- */
.flat-row {
	clear: both;
    display: block;
    position: relative;
    padding: 80px 0;    
}

.flat-row.no-padding {
    padding: 0;
}

.flat-row.no-padding-bottom {
    padding-bottom: 0;
}

.flat-row.padding-top {
    padding: 95px 0 0;
}

/* Flat divider
-------------------------------------------------------------- */
.flat-divider {
    width: 100%;
    position: relative;
}

.flat-divider.d13px {
    height: 13px;
}

.flat-divider.d15px {
    height: 15px;
}

.flat-divider.d20px {
    height: 20px;
}

.flat-divider.d25px {
    height: 25px;
}

.flat-divider.d30px {
    height: 30px;
}

.flat-divider.d35px {
    height: 35px;
}

.flat-divider.d40px {
    height: 40px;
}

.flat-divider.d45px {
    height: 45px;
}

.flat-divider.d50px {
    height: 50px;
}

.flat-divider.d55px {
    height: 55px;
}

.flat-divider.d60px {
    height: 60px;
}

.flat-divider.d65px {
    height: 65px;
}

.flat-divider.d70px {
    height: 70px;
}

.flat-divider.d74px {
    height: 74px;
}

.flat-divider.d80px {
    height: 80px;
}

.flat-divider.d86px {
    height: 86px;
}

.flat-divider.d90px {
    height: 90px;
}

.flat-divider.d100px {
    height: 100px;
}

.flat-divider.d110px {
    height: 100px;
}

.flat-divider.d130px {
    height: 130px;
}

.flat-divider.d140px {
    height: 140px;
}

/* Title section
-------------------------------------------------------------- */
.title-section {
    text-align: center;
}

.title-section .icon {
    padding-bottom: 23px;
}

.title-section.style-v1 .icon {
    padding-bottom: 15px;
}

.title-section .title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}

.title-section.style-v1 .title {
    letter-spacing: 0;
    padding-bottom: 24px;
}

.title-section .title-text p {
    font-family: "Crete Round", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-style: italic;
    color: #999;
    letter-spacing: 0.7px;
}

/* Search
-------------------------------------------------------------- */
.top-search.show {
    top: 100%;
    opacity: 1;
    z-index: 9999;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.top-search {
    position: absolute;
    width: 100%;
    right: 0;
    top: 100%;
    opacity: 0;
        background: rgba(0,0,0,.9);
    z-index: -99;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.top-search form {
    margin: 15px 0;
}

.top-search .search-form .input-group input[type="search"] {
    border: none !important;
    background: transparent !important;
    font-size: 52px;
    font-weight: 100;
    color: #6d6d6d;
    height: 70px;
    line-height: 1;
    padding: 0 0 0 20px;
    margin-bottom: 0;
}

.top-search .search-form .input-group .placeholder {
    font-size: 52px;
}

.top-search .search-form {
    position: relative;
}

.show-search a {
    line-height: 60px;
    position: relative;
}

.show-search a i:hover {
    color: #ffffff;
}

.show-search a i {
    font-size: 18px;
    color: #333333;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.top-search button {
    border: none !important;
    background: transparent !important;
    color: #6d6d6d;
    font-size: 10px;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.top-search .input-group-btn i:hover {
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}



/* Post Scroller
-------------------------------------------------------------- */
#slider {
    position:relative;
    overflow:hidden;
}

.header-bg-img.header-content-scroller {
    height: 619px;
}

.header-overlay-content {
    position: absolute;
    top: 142px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.header-content-scroller .header-overlay-content > .container,
.header-content-scroller .header-overlay-content > .container > .row,
.header-content-scroller .header-overlay-content > .container > .row > .col-md-5,
.header-content-scroller .header-overlay-content .un-post-scroller,
.header-content-scroller .header-overlay-content .un-post-scroller .section-inner-no-padding,
.header-content-scroller .header-overlay-content .un-post-scroller .post-scroller-wrap {
    height:100%;
}

.header-content-scroller .header-overlay-content .post-scroller-carousel{
    height: 85%;
    height: -webkit-calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: calc(100% - 70px);
    max-height: none;
}

.post-scroller-wrap {
    padding: 30px;
    background :#ffffff;
    background: rgba(255,255,255,.9);
}

.post-scroller-carousel {
    max-height: 659px;
    overflow: hidden;
}

.post-scroller-carousel-inner {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.post-scroller-item {
    padding-bottom:30px;
}

.post-scroller-item .post-content-mini h4 {
    margin-bottom: 10px;
}

.post-scroller-item:last-child {
    padding-bottom:0;
}

.post-scroller-control {
    margin-top:30px;
}

.post-scroller-control a {
    margin-right:7px;
}

.post-scroller-button {
    font-size:18px;
    line-height:14px;
    width:40px;
    height:40px;
    padding:12px 12px;
}

.post-scroller-up {
    padding:11px 12px 13px;
}

.post-scroller-more {
    margin-left:7px;
    color:inherit;
}

.post-item-mini {
    padding-bottom:30px;
    border-bottom:solid 1px #eaeaea;
}

.post-thumbnail-mini img {
    width:100%;
    height:auto;
}

.post-title-mini {
    font-size:17px;
    color:inherit
}

.post-content-mini {
    padding-left:5px;
}

/* Flat Choose-us
-------------------------------------------------------------- */
.flat-row.padding-small {
    padding: 60px 0;
}

.flat-row.padding-small-v1 {
    padding: 40px 0 80px;
}

.flat-choose-us .name-toggle .title,
.flat-blog .name-blog .title  {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #253b80;
    margin-bottom: 29px;
}

.flat-blog .section-header {
    overflow: hidden;
}

.flat-accordion .flat-toggle {
    margin: 0 0 10px;
}

.flat-accordion .toggle-title {
    cursor: pointer;
    color: #555;
    background: transparent;
    padding: 15px 45px 14px 20px;  
    border: 1px solid #d3d3d3;
    position: relative;
    font-size: 17px;
    line-height: 25px;
}

.flat-accordion .toggle-title:hover {
    background: #46a5e5; 
    border: 1px solid #46a5e5;
    color: #fff;
}

.flat-accordion .toggle-title:hover:after {
    color: #fff;
}

.flat-accordion .toggle-title.active {
    background: #46a5e5;
    border: 1px solid #46a5e5;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
}

.flat-accordion .toggle-title.active:after,
.flat-accordion .toggle-title:after {
    color: #555;
    font-size: 20px;
    position: absolute;
    right: 25px;
    top: 14px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.flat-accordion .toggle-title.active:after {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.flat-accordion .toggle-title.active:after {   
    color: #fff; 
    right: 25px;
    top: 14px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.flat-accordion .toggle-title:after {
    content: "+";
    font-weight: 300;
}

.flat-accordion .toggle-content {
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    display: none;
    border-radius: 2px;
    padding: 20px 25px;
    overflow: hidden;
}

/* flat-blog */
.flat-blog .title {
    display: inline-block;
    float: left;
}

.flat-blog .button-right {
    float: right;
    padding: 9px 20px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #eaeaea;
    font-size: 13px;
    line-height: 1.42857143;
}

.flat-blog .button-right:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.flat-blog .button-right i {
    margin-left: 5px;
}

.thumbnail-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #9400D3;
    color: #fff;
    padding: 10px 20px;
}

.item-thumbnail {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.post-item .content-pad .item-title {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 21px;
}

.shortcode-blog-excerpt {
    margin-bottom: 9px;
}

.post-item .content-pad .flat-button {
    display: inline-block;
    padding-top: 6px;
    font-size: 13px;
    line-height: 1.42857143;
    padding: 9px 20px;
    margin-right: 16px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #eaeaea;
}

.post-item .content-pad .flat-button:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

/* Flat reviews
-------------------------------------------------------------- */
.flat-row.full-color {
    padding: 105px 0 70px;
    background-color: #eaeaea;
}

.flat-reviews .item {
    text-align: center;
    padding: 0 100px;
}

.featured-causes {
    position: relative;
}

.featured-causes:before {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 9%;
    content: "\f10e";
    color: #fff;
    font-size: 50px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flat-reviews .flat-causes .item .text {
    font-family: "Bitter", sans-serif;
    font-size: 20px;
    margin-bottom: 23px;
}

.flat-reviews .flat-causes .item .title-testimonial {
    margin-bottom: 5px;
    display: inline-block;
    text-align: left;
}

.flat-reviews .flat-causes .item .title-testimonial .thumb-title {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.flat-reviews .flat-causes .item .title-testimonial .post-title {
    padding-top: 5px;
    overflow: hidden;
}

.flat-reviews .flat-causes .item .title-testimonial .post-title .title-post {
    color: #253b80;
}

/* Flat-news
-------------------------------------------------------------- */
.flat-row.no-padding-bottom {
    padding-top: 100px;
}

.new-bottom .news-letter {
    text-align: center;
}

.new-bottom .news-letter .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #343434;
    margin-bottom: 35px;
}

.new-bottom .news-letter h4 {
    font-size: 18px;
    color: #343434;
    margin-bottom: 40px;
}

/* Event Grid
-------------------------------------------------------------- */
.flat-row.padding-v1 {
    padding: 40px 0;
}

/* Event List */
.event-classic-item .price {
    margin-bottom: 15px;
    font-size: 18px;
    color: #3e3e3e;
}

.event-listing-classic .post-item .content-pad .item-title {
    font-weight: 400;
}

.event-listing-classic .post-item .content-pad p {
    margin-bottom: 9px;
}

.project-listing .filter-cat {
    text-align: right;
    margin-bottom: 25px;
}

.project-listing .filter-cat li {
    display: inline-block;
}

.project-listing .filter-cat .flat-button {
    display: inline-block;
    padding: 6px 20px;
    transition: all .2s;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-left: 7px;
    border: solid 2px #eaeaea;
}

.project-listing .filter-cat.v1 li.active a {
    border: solid 2px #666666;
}

.project-listing .filter-cat li.active a,
.project-listing .filter-cat .flat-button:hover {
    background-color: #666666;
    border-color: #666666;
    color: #fff;
}


.project-listing .filter-cat #uni-project {
    height: 40px;
    display: none;
    width: 100%;
}

/* Course List
-------------------------------------------------------------- */
.flat-row.padding-big {
    padding: 100px 0;
}

/* Flat-fluid 
-------------------------------------------------------------- */
.flat-row .flat-fluid {
    padding: 60px 0;
    background-color: #179bd7; 
}

.flat-row .flat-fluid.padding-95 {
    padding: 95px 0;
}

.flat-fluid .post {
    margin-bottom: 35px;
}

.flat-fluid .post .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.flat-fluid .post p {
    color: rgba(255,255,255,.75);
    margin-bottom: 30px;
}

.flat-fluid .post .flat-button {
    display: inline-block;
    padding: 7px 20px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #fff;
    background-color: transparent;
    color: #fff;
}

.flat-fluid .post .flat-button:hover {
    color: #343434;
    background-color: #fff;
    border-color: #fff;
}

.flat-fluid .post .flat-button i {
    margin-left: 5px;
}

/* Flat-university
-------------------------------------------------------------- */
.page-title.parallax1 {
    padding: 150px 0;
}

.flat-university .post {
    text-align: center;
}

.flat-university .post .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #fff;
    margin-bottom: 80px;
}

.flat-university .box-university .content-box img {
    border-radius: 4px;
    margin-bottom: 20px;
}

.flat-university .box-university .title-box h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 9px;
}

.flat-university .box-university .title-box p {
    color: rgba(255,255,255,.75);
}

.flat-university .box-university {
    margin-bottom: 135px;
}

.flat-university .button-university {
    text-align: center;
    margin-bottom: 35px;
}

.flat-university .button-university a,
.flat-university .button-university p {
    display: inline-block;
}

.flat-university .button-university a {
    padding: 17px 40px;
    font-size: 17px;
    border-radius: 3px;
    transition: all .2s;
    border: solid 2px #fff;
    color: #fff;
}

.flat-university .button-university a.color-v2 {
    padding: 18px 40px;
    background-color: #179bd7;
    border-top: #179bd7;
    border-left: #179bd7;
    border-right: #179bd7;
    border-bottom: rgba(0,0,0,.25); 
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
}

.flat-university .button-university a:hover {
    color: #343434;
    background-color: #fff;
    border-color: #fff;
}

.flat-university .button-university a i {
    margin-left: 6px;
}

.flat-university .button-university p {
    padding: 0 13px;
    color: rgba(255,255,255,.75);
}

/* Flat-Event
-------------------------------------------------------------- */
.flat-row.padding-v3 {
    padding: 40px 0 60px;
}

.grid-item-inner {
    position:relative;
}

.flat-events .grid-item {
    display: inline-block;
    float: left;
    width: 100%;
}
.flat-eventss .grid-item {
    display: inline-block;
    float: left;
    width: 46%;
}

.flat-events .grid-item.color-full {
    background-color: #9400D3;
    overflow: hidden;
    padding-bottom: 94px;
}

.flat-events .grid-item .grid-item-content {
    padding: 30px;
}

.flat-events .grid-item .grid-item-content .title {
    font-family: "Bitter", sans-serif;
    font-size: 48px;
    margin-bottom: 13px;
    color: #fff;
}

.flat-events .grid-item .grid-item-content p {
    color: rgba(255,255,255,.75);
    margin-bottom: 26px;
}

.flat-events .grid-item .grid-item-content .flat-button {
    color: #fff;
    border-color: #fff;
    padding: 9px 20px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #fff;
}

.flat-events .grid-item .grid-item-content .flat-button:hover {
    color: #343434;
    background-color: #fff;
    border-color: #fff;
}

.flat-events .grid-item .grid-item-content .flat-button i {
    margin-left: 5px;
}

.event-thumbnail img {
    width: 100%;
    height: auto;
    transition: all .4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.grid-item .event-item {
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.event-item:hover .event-thumbnail img,
.event-item.hover_effect .event-thumbnail img {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -ms-filter: brightness(80%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

body.mobile .event-item:hover .event-thumbnail img {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -webkit-transform: none;
    transform: none;
}

.date-block {
    position:absolute;
    top:15px;
    right:15px;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 18px;
    min-width: 66px
}

.date-block:not(.main-color-2-bg) {
    background:rgba(0,0,0,.5);
    color: rgba(255,255,255,.75);
}

.date-block .day {
    font-size:20px;
    text-align:center;
}

.date-block .month {
    text-transform:uppercase;
    text-align:center;
}

.date-block .year {
    font-size:13px;
    line-height:23px;
    text-align:center;
}

.date-block.year-top {
    padding-top:30px;
    padding-bottom:8px;
}

.date-block.year-top .year {
    position:absolute;
    top:0;
    left:0;
    right:0;
    border-bottom: solid 1px rgba(255,255,255,.15);
}

.event-item .event-overlay {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0,0,0,.5);
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.event-item:hover .event-overlay {
    background: rgba(0,0,0,.5);
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.event-item .event-overlay
.overlay-footer {
    margin-bottom: -95px;
    opacity: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.event-item:hover .overlay-footer {
    margin-bottom: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;            
}

.overlay-top {
    display: block;
    padding: 15px 28px 13px 20px;
    border-bottom: solid 1px rgba(255,255,255,.2);
    position: relative;
}

.overlay-top:after {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
    font-size: 22px;
    color: #fff;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.event-overlay .overlay-top h4 {
    font-size: 18px;
    color: #fff;
    line-height: 1.25;
    font-weight: 400;
}

.event-overlay .overlay-top .price {
    color: #fcff00;
    font-size: 18px;
}

.event-overlay .overlay-footer {
    color: rgba(255,255,255,.75);
    height: 95px;
    padding: 5px 20px 19px;
    transition: all .25s ease-out;
}

/* parallax2*/
.page-title.parallax2 {
    padding: 235px 0;
}

.page-title.parallax2 .flat-university .post .title {
    margin-bottom: 45px;
}

.page-title.parallax2 .flat-university .button-university {
    margin-bottom: 0;
}

/* Flat-iconbox
--------------------------------------------------------*/
/* icon left */
.flat-icon .iconbox {
    width: 33.33%;
    float: left;
    padding-right: 20px;
}

.flat-icon .iconbox.v1 {
    margin-bottom: 25px;
}

.flat-icon .iconbox.left .box-header {
    float: left;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #179bd7;
    color: #fff;
    font-size: 28px;
    display: inline-block;
    transition: all .2s;
}

.flat-icon .iconbox.left .box-header:hover {
    background: #222;
}

.flat-icon .icon-post {
    overflow: hidden;
}

.flat-icon .icon-post .box-title {
    color: #222;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;
}

.flat-icon .icon-post .box-content p {
    color: #444;
    font-size: 13px;
}

/* center */
.page-title.parallax5 {
    padding: 135px 0 155px;
}

.page-title.parallax5.v1 {
    padding: 115px 0 100px;
}

.icon-post {
    padding-bottom: 60px;
}

.iconbox.center {
    float: left;
    width: 25%;
    text-align: center;
}

.iconbox.center .box-header {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #343434;
    font-size: 28px;
    display: inline-block;
    transition: all .2s;
    margin-bottom: 10px;
}

.iconbox.center .icon-post .box-title .title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.iconbox.center .icon-post .box-title p {
    color: #999;
    padding: 0 20px;
}

.page-title.parallax5 .thumb-icon {
    text-align: center;
}

/* Home 6 */
.flat-icon-post .item {
    padding: 0 15px;
}

.flat-icon-post .item .thumb-icon {
    margin-bottom: 20px;
}

.flat-icon-post .item .post-icon .title {
    font-size: 24px;
    color: #343434;
    margin-bottom: 20px;
}

/* Flat-team
-------------------------------------------------------------- */
.flat-row.padding-110 {
    padding: 115px 0 110px;
}

.flat-row.padding-80 {
    padding: 80px 0 90px;
}

.flat-team .post .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    text-align: center;
    color: #343434;
    margin-bottom: 115px;
}

.flat-team .post.v1 .title {
    margin-bottom: 75px;
}

.flat-team .post-wrap .member-item {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.member-item-inner .item-content {
    padding: 20px 30px;
    background-color: #f6f6f6;
}

.member-item-inner .item-content .item-title {
    font-size: 21px;
    margin-bottom: 9px;
    color: #343434;
}

.member-item-inner .item-content .small-text {
    font-size: 10px;
    color: #343434;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.member-item-inner .item-content p {
    margin-bottom: 15px;
}

.member-item-inner .item-content ul {
    margin-bottom: 9px;
}

.member-item-inner .item-content ul li a {
    border: 2px solid #666;
    color: #666;
}

.member-item-inner .item-content ul li a:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

/* Flat-business
-------------------------------------------------------------- */
.flat-row.color-full {
    padding: 115px 0 35px;
    background-color: #efefef;
}

.flat-row.color-full .flat-business {
    padding-top: 50px;
    overflow: hidden;
}

.flat-business .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #343434;
    margin-bottom: 35px;
}

.flat-business p {
    color: #000;
    line-height: 2;
    margin-bottom: 35px;
}

.flat-business .box-icon {
    margin: 0 -15px;
}

.flat-business .box-icon .icon-business {
    float: left;
    display: inline-block;
    padding: 0 15px;
}

/* Flat information
-------------------------------------------------------------- */
.flat-row.pd125 {
    padding: 125px 0;
}

.flat-information {
    text-align: right;
    padding-bottom: 75px;
    margin-bottom: 75px;
    border-bottom: 1px solid #EBEBEB;
}

.flat-information .title,
.flat-lecturers .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #343434;
    margin-bottom: 35px;
}

.flat-information p,
.flat-lecturers p {
    margin-bottom: 35px;
}

.flat-information .flat-button,
.flat-lecturers  .flat-button {
    display: inline-block;
    padding: 17px 40px;
    font-size: 17px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #666;
}

.flat-information .flat-button:hover,
.flat-lecturers  .flat-button:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.flat-information .flat-button i,
.flat-lecturers  .flat-button i {
    margin-right: 6px;
}

.flat-lecturers .thumb-lecturers {
    text-align: center;
}

.page-title.parallax2.v1 {
    padding: 195px 0;
}

/* parallax3 */
.page-title.parallax3 {
    padding: 135px 0;
}

.page-title.parallax3.padding-185 {
    padding: 185px 0;
}

.page-title.parallax3 .flat-university .post .title {
    margin-bottom: 50px;
}

.page-title.parallax3 .flat-university.v2 .post .title {
    margin-bottom: 35px;
}

.page-title.parallax3 .flat-university .button-university {
    margin-bottom: 0;
}

.flat-row.padding-v2 {
    padding: 60px 0;
}

/* Home3 */
/* parallax4 */
.page-title.parallax4 {
    padding: 100px 0 80px;
}

.page-title.parallax4 .top-title {
    text-align: center;
    margin-bottom: 35px;
}

.page-title.parallax4 .top-title .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    margin-bottom: 9px;
    color: #343434;
}

.page-title.parallax4 .top-title p {
    font-size: 18px;
    color: #343434;
}

.page-title.parallax4 .posts-carousel .grid-item {
    padding: 0 15px 25px;
}

.page-title.parallax4 .posts-carousel .grid-item .grid-item-inner {
    border-bottom: solid 1px rgba(255,255,255,.1);
    box-shadow: 0 25px 35px -32px rgba(0,0,0,.75), 0 36px 65px -60px rgba(0,0,0,.75);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.posts-carousel .flat-blog-carousel .owl-controls .owl-prev,
.posts-carousel .flat-blog-carousel .owl-controls .owl-next {
    float: left;
    background: rgba(0,0,0,.3);
    width: 50px;
    height: 50px;
    padding: 0 4px 0 0;
    margin: 0;
    line-height: 49px;
    border-radius: 0px;
    opacity: 0;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transition: all .3s ease;
}

.posts-carousel .flat-blog-carousel .owl-controls .owl-prev:hover,
.posts-carousel .flat-blog-carousel .owl-controls .owl-next:hover {
    background: rgba(0,0,0,.75);
    color: #fff;
}

.posts-carousel .flat-blog-carousel .owl-controls .owl-next {
    float: right;
    padding: 0 0 0 4px;
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
}

.posts-carousel .flat-blog-carousel:hover .owl-controls .owl-prev,
.posts-carousel .flat-blog-carousel:hover .owl-controls .owl-next {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.owl-theme .owl-controls .owl-nav div.owl-prev {
    left: 80px;
}

.owl-theme .owl-controls .owl-nav div.owl-next {
    right: 80px;
}

.owl-theme .owl-controls .owl-nav div.owl-prev:before,
.owl-theme .owl-controls .owl-nav div.owl-next:before {
    font-size: 32px;
    color: #fff;
}

.posts-carousel .flat-blog-carousel .owl-controls {
    text-align: center;
}

.posts-carousel .flat-blog-carousel .owl-controls .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 10px;
    border-radius: 50%;
    opacity: .3;
    border: 2px solid #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: transparent;
}

.posts-carousel .flat-blog-carousel .owl-controls  .owl-dots .owl-dot.active span,
.posts-carousel .flat-blog-carousel .owl-controls  .owl-dots .owl-dot:hover span {
    opacity: 1;
}

/* Home 4 */
.flat-row.full-color-v1 {
    padding: 135px 0;
    background-image: url("../images/about/index4/1.jpg");
    background-color: #ccc;
}

.icon-post.v1 .iconbox.center .box-header {
    background-color: #179bd7;
    color: #fff;
}

.icon-post.v1 .iconbox.center .box-header:hover {
    background-color: #222;
}

.icon-post.v1 .iconbox.center .icon-post .box-title .title {
    color: #222;
}

.icon-post.v1 .iconbox.center .icon-post .box-title p {
    color: #444;
    padding: 0 15px;
}

.icon-post.v1 .iconbox.center .icon-post {
    padding-bottom: 0;
}

/* Flat-teaser-wrapper
-------------------------------------------------------------- */
.flat-row.full-color-v2 {
    background-color: #d6d8d8;
    padding: 135px 0 95px;
}

.flat-teaser-wrapper .post-wrapper .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #343434;
    margin-bottom: 35px;
}

.flat-teaser-wrapper .post-wrapper p {
    margin-bottom: 35px;
}

.flat-teaser-wrapper .post-wrapper .flat-button.color-v2 {
    display: inline-block;
    padding: 20px 40px;
    background-color: #179bd7;
    border-top: #179bd7;
    border-left: #179bd7;
    border-right: #179bd7;
    border-bottom: rgba(0,0,0,.25);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    border-radius: 3px;
    font-size: 17px;
    color: #fff;
}

.flat-teaser-wrapper .post-wrapper .flat-button.color-v2:hover {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

/* Home 5 */
.page-title.parallax1.v1 {
    padding: 135px 0 60px;
}

.posts-carousel.v1 .grid-item {
    padding: 0 15px 25px;
}

.posts-carousel.v1 .owl-theme .owl-controls .owl-nav div.owl-prev {
    left: 80px;
    top: 40%;
}

.posts-carousel.v1 .owl-theme .owl-controls .owl-nav div.owl-next {
    right: 80px;
    top: 40%;
}

.posts-carousel.v1 .flat-blog-carousel .owl-controls .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 10px;
    border-radius: 50%;
    border: 2px solid #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    opacity: .75;
    background: #d0d0d0;
}

.posts-carousel.v1 .flat-blog-carousel .owl-controls  .owl-dots .owl-dot.active span,
.posts-carousel.v1 .flat-blog-carousel .owl-controls  .owl-dots .owl-dot:hover span {
    opacity: 1;
    background: #fff;
}

/* Contact
-------------------------------------------------------------- */
.post-contact .contact-form .line-box {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 35px;
    padding-top: 30px;
}

.post-contact .contact-form input[type="text"],
.post-contact .contact-form input[type="email"] {
    width: 100%;
}

.post-contact .contact-form .submit-wrap button.flat-button.style-v1 {
    padding: 12px 20px;
    height: 42px;
    line-height: 0;
    background-color: #179bd7;
    border-top: #179bd7;
    border-left: #179bd7;
    border-right: #179bd7;
    border-bottom: rgba(0,0,0,.25);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    text-transform: none;
}

.post-contact .contact-form .submit-wrap button.flat-button.style-v1:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.post-contact .contact-form .submit-wrap button.flat-button.style-v1 i {
    font-size: 10px;
}

/* Flat-smarter
-------------------------------------------------------------- */
.page-title.parallax6 {
    padding: 135px 0 95px;
}

.flat-smarter .post-wrapper .title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 50px;
}

.flat-smarter .post-wrapper p {
    color: rgba(255,255,255,.75);
    margin-bottom: 40px;
}

.flat-smarter .post-wrapper .flat-button.color-v2 {
    display: inline-block;
    padding: 20px 40px;
    background-color: #179bd7;
    border-top: #179bd7;
    border-left: #179bd7;
    border-right: #179bd7;
    border-bottom: rgba(0,0,0,.25);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    border-radius: 3px;
    font-size: 17px;
    color: #fff;
}

.flat-smarter .post-wrapper .flat-button.color-v2:hover {
    color: #343434;
    background-color: #fff;
    border-color: #fff;
}

/* Flat portfolio
-------------------------------------------------------------- */
.project-listing .filter-cat.v1 .flat-button {
    padding: 7px 20px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #eaeaea;
}

.project-listing .filter-cat.v1 .flat-button:hover {
    background-color: #666;
    border-color: #666;
    color: #fff;
}

.flat-row.padding-small-v1 {
    padding: 40px 0;
}

.project-listing .project-portfolio {
    margin: 0 -15px;
}

.project-listing .project-portfolio .item {
    padding: 0 15px;
    margin-bottom: 40px;
    width: 25%;
    float: left;
}

.item-thumbnail {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.item-thumbnail a {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: block;
    transform: translate3d(0,0,0);
}

.project-listing .project-item .item-thumbnail a {
    display: inline;
}

.item-thumbnail img {
    width: 100%;
    height: auto;
    transition: all .4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.item-thumbnail:hover img {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -ms-filter: brightness(80%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.mobile .item-thumbnail:hover img {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -webkit-transform: none;
    transform: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.project-item-title {
    padding: 15px 0;
    border: solid 1px #e8dcdc;
    min-height: 37px;
}

.project-item-title .item-title {
    margin-bottom: 4px;
    font-size: 18px;
}

.project-item-title .small-text a {
    text-transform: uppercase;
    font-size: 10px;
}

.project-item-excerpt {
    background-color: #f6f6f6;
    padding: 15px 10px;
    line-height: 1.6;
    min-height: 90px;
    transition: all .3s;
}

.project-item-title,
.project-item-excerpt {
    display: table;
    text-align: center;
    width: 100%;
}

.project-item-title-inner,
.project-item-excerpt .exerpt-text {
    display: table-cell;
    vertical-align: middle;
}

.project-item:hover a,
.project-item:hover .small-text,
.project-item:hover .project-item-excerpt,
.project-item:hover .project-item-excerpt .exerpt-text {
    color: #fff;
    transition: all .3s;
}

.project-item:hover .project-item-title,
.project-item:hover .project-item-excerpt {
    transition: all .3s;
    background-color: #179bd7;
}

.project-item .project-item-title,
.project-item .project-item-excerpt {
    transition: all .3s;
}   

.project-item .small-text {
    transition: all .3s;
}

.project-item:hover .project-item-title {
    border-bottom: solid 1px rgba(255,255,255,.2);
}

.project-listing .filter-cat{
    text-align: right;
    margin-bottom: 25px;
}

.project-listing .filter-cat #uni-project {
    height: 40px;
    display: none;
    width: 100%;
}

.thumbnail-hoverlay-icon {
    position: absolute;
    top: 50%;
    left: 57%;
    margin-top: -18px;
    margin-left: -34px;
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    transition: all .35s ease;
}

.item-thumbnail:hover .thumbnail-hoverlay-icon {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.thumbnail-hoverlay-icon a {
    font-size: 18px;
    padding: 5px 10px;
    color: rgba(255,255,255,.75);
    outline: none;
}

.thumbnail-hoverlay-icon a:hover {
    color: #fff;
}

/* Flat-portfolio-single
-------------------------------------------------------------- */
.project-navigation {
    background: none;
    border: solid 2px #eaeaea;
    border-radius: 3px;
}

.simple-navigation {
    padding: 0 15px;
    margin-bottom: 20px;
}

.project-navigation .simple-navigation-item:first-child {
    border-right: solid 2px #eaeaea;
}

.simple-navigation-item:last-child {
    border-left: solid 1px #fff;
}

.project-navigation .simple-navigation-item {
    padding: 7px 0;
    font-size: 10px;
    text-transform: uppercase;
}

.project-navigation .simple-navigation-item a {
    display: inline-block;
    padding-left: 15px;
}

.project-navigation .simple-navigation-item.text-right a {
    padding-right: 15px;
    padding-left: 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
}

.project-navigation .simple-navigation-item.text-right a i.pull-right {
    margin: 6px 0 0 10px;
}

.project-navigation .simple-navigation-item i {
    font-size: 11px;
    margin-top: 5px;
    margin-right: 10px;
}

/* Post */
.flat-corporate .post .thumb-post {
    margin-bottom: 20px;
}

.flat-corporate .post .text-post p {
    margin-bottom: 10px;
}

/* flat-project-post */
.flat-project-post .project-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #343434;
}

.flat-project-post .project-content-text p {
    margin-bottom: 14px;    
}

.flat-project-post .project-content-text {
    border-bottom: solid 1px #eaeaea;
    margin-bottom: 18px;
}

.flat-project-post .project-meta {
    border-bottom: solid 1px #eaeaea;
    padding-bottom: 5px;
    margin-bottom: 16px;
}

.flat-project-post .project-meta .small-text {
    font-size: 10px;
    line-height: 1;
    color: #343434;
    text-transform: uppercase;
}

.flat-project-post .project-meta .project-meta-item {
    margin-bottom: 10px;
}

.flat-project-post .project-tax {
    margin-bottom: 16px;
    font-size: 10px;
    color: #343434;
    text-transform: uppercase;
}

.flat-project-post ul li {
    display: inline-block;
    margin-top: 0;
    padding: 0 5px;
}

.flat-project-post ul li a.social-icon {
    display: inline-block;
    color: #666;
    width: 40px;
    height: 40px;
    font-size: 14px;
    padding: 0;
    line-height: 36px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #eaeaea;
    cursor: pointer;
    text-align: center;
}

.flat-project-post ul li a.social-icon:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

/* related-projects */
.related-projects .related-projects-inner {
    border-top: solid 3px #eaeaea;
    padding-top: 35px;
    margin-top: 23px;
}

.related-projects .related-projects-inner .title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #343434;
}

/* Flat-clients
-------------------------------------------------------------- */
.flat-row.full-color-v3 {
    background-color: #ebebeb;
    padding: 115px 0;
}

.flat-clients .title-clients .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    text-align: center;
    color: #343434;
    margin-bottom: 75px;
}

.flat-clients .thumb-clients .item {
    float: left;
    width: 25%;
}

/* Flat-future
-------------------------------------------------------------- */
.flat-row.padding-115 {
    padding: 115px 0 75px;
    background-color: #e9edf1;
}

.flat-future .post-future .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #343434;
    margin-bottom: 35px;
    line-height: 1.25;
}

.flat-future .post-future p {
    font-size: 18px;
    margin-bottom: 35px;
    color: #343434;
}
 
.flat-future .post-future .flat-button.color-v2 {
    display: inline-block;
    padding: 18px 40px;
    background-color: #1fa756;
    border-top: #1fa756;
    border-left: #1fa756;
    border-right: #1fa756;
    border-bottom: rgba(0,0,0,.25);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
}

.flat-future .post-future .flat-button.color-v2 i {
    margin-right: 10px;
}

.flat-future .post-future .flat-button.color-v2:hover {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

/* Flat-banner
-------------------------------------------------------------- */
.flat-row.padding-60 {
    padding: 60px 0;
}

.flat-banner .item {
    float: left;
    width: 25%;
    padding: 0 15px;
}

.flat-banner .item .thumb {
    text-align: center;
    margin-bottom: 20px;
}

.flat-banner .item .title {
    font-size: 21px;
    line-height: 1.25;
}

/* Flat video fancybox
-------------------------------------------------------------- */
.page-title.parallax7 {
    padding-top: 70px;
    height: 300px;
    position: relative;
}

.flat-video-fancybox {
    text-align: center;
}

.flat-video-fancybox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.0)
}

.flat-video-fancybox:hover .overlay {
    background: rgba(0,0,0,0.5);
}

.flat-video-fancybox .overlay:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    height: 100%;
}

.flat-video-fancybox .overlay-inner {
    display: inline-block;
    vertical-align: middle;
}

.flat-video-fancybox .overlay-inner i {
    color: #fff;
    font-size: 36px;
    border: solid 3px #fff;
    width: 100px;
    height: 100px;
    padding-left: 8px;
    line-height: 94px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: transparent;
    margin-bottom: 20px;
}

.flat-video-fancybox .overlay-inner .title {
    font-family: "Bitter", sans-serif;
    font-size: 28px;
    color: #fff;
}

/* Flat-course-single
-------------------------------------------------------------- */
/* content-left */
.content-course .course-description {
    padding: 18px 20px 18px 20px;
    background-color: rgba(234,234,234,.25);
}

.content-course .course-description .course-dl,
.content-course .course-description .course-text {
    margin-bottom: 18px;
}

.content-course .course-description .course-dl .flat-button {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #eaeaea;
    color: #666;
    padding: 10px 20px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.25);
    border-radius: 3px;
}

.content-course .course-description .course-dl .flat-button i {
    margin-left: 4px;
}

.content-course .course-description .course-dl .flat-button:hover,
.content-course .course-description .course-action .flat-button:hover {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

.content-course .course-description .course-meta {
    color: #343434;
    font-size: 10px;
}

.content-course .course-description .course-start {
    color: #666;
    font-size: 13px;
    margin-bottom: 7px;
}

.content-course .course-description .course-action {
    padding: 16px 0 6px;
}

.content-course .course-description .course-action .flat-button {
    display: inline-block;
    padding: 20px 40px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: #fff;
    background-color: #179bd7;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    border-radius: 3px;
}

/* content-right */
.course-single .single-course-detail .course-detail {
    border-top: solid 1px #eaeaea;
    padding: 25px 0 5px;
    margin-bottom: 25px;
}

.course-single .single-course-detail .course-detail .course-info {
    padding-bottom: 20px;
}

.course-single .single-course-detail .course-detail .text {
    font-size: 10px;
    color: #343434;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.course-single .single-course-detail .course-detail .text.small-text {
    margin-bottom: 0px;
}

.course-speaker .media > .pull-left img {
    margin-bottom: 27px;
}

.single-course-detail .course-speaker .media-body .main-color-2 {
    color: #253b80;
}

.single-course-detail .course-speaker .media-body .main-color-2:hover {
    color: #46a5e5;
}

.course-single .single-course-detail .course-detail .text.map-link {
    color: #46a5e5;
}

.single-course-detail .content-content {
    border-top: solid 1px #eaeaea;
    padding-top: 25px;
    margin-top: 16px;
}

.single-course-detail .content-content .content-dropcap {
    margin-bottom: 29px;
}

.single-course-detail .content-content .content-dropcap p {
    line-height: 2;
    margin-bottom: 9px;
}

.single-course-detail .content-content .single-cours-social {
    border-bottom: solid 1px #eaeaea;
    padding-bottom: 40px;
}

.single-course-detail .content-content .single-cours-social ul li a {
    border: 2px solid #eaeaea;
}

.single-course-detail .content-content .single-cours-social ul li a:hover {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

.single-course-detail .content-content .course-cta p {
    margin: 20px 0;
}

.single-course-detail .content-content .course-cta a {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    background-color: #2294e0;
    width: 100%;
    padding: 20px 40px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    margin-bottom: 40px;
}

.single-course-detail .content-content .course-cta a:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.single-course-detail .content-content .related-course {
    display: inline-block;
    width: 100%;
    padding-bottom: 22px;
    background-color: #f6f6f6;
}

.single-course-detail .content-content .related-course h3 {
    padding: 15px 30px;
    background-color: #eaeaea;
    margin-bottom: 30px;
    font-size: 21px;
    color: #343434;
}

.related-course .cr-content {
    padding-left: 30px;
    padding-right: 30px;
}

.related-course .cr-content .thumb {
    float: left;
    margin-right: 20px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.related-course .cr-content .thumb:hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       opacity: 0.5;
        filter: alpha(opacity=50); 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.related-course .cr-content .cr-title a {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.2em;
}

.related-course .cr-content .cr-start {
    font-family: "Open Sans",sans-serif;
    font-size: 10px;
    color: #666;
    line-height: 1;
    text-transform: uppercase;
}

.related-course .cr-content .related-item {
    margin-bottom: 15px;
}

/* Flat-event-single
-------------------------------------------------------------- */
/* content-left */
.single-event-meta .event-description,
.single-event-meta .event-action {
    background-color: rgba(234,234,234,.25);
}

.single-event-meta .event-description {
    border-bottom: solid 1px #e1e1e1;
    padding: 18px 20px 18px 20px;
}

.single-event-meta .event-action {
    padding: 10px 20px 14px 20px;
}

.single-event-meta .event-action .element-pad {
    padding: 6px 0;
}

.single-event-meta .event-action .element-pad .small-text {
    font-size: 10px;
    color: #343434;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.single-event-meta .event-action .element-pad.v2 select {
    margin-bottom: 0;
}

.single-event-meta .event-action .element-pad .form-control:focus {
    border: 1px solid #2294e0;
}

.single-event-meta .event-action .element-pad .form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eaeaea;
    background-image: none;
    border: 1px solid #eaeaea;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.single-event-meta .event-action .element-pad .quantity-group {
    width: 104px;
}

.single-event-meta .event-action .element-pad .input-group-btn button {
    border: none;
}

.single-event-meta .event-action .element-pad .input-group-btn #minus,
.single-event-meta .event-action .element-pad .input-group-btn #plus {
    width: 40px;
    height: 43px;
    padding: 10px 15px;
    border-radius: 3px;
    outline: none;
    font-size: 18px;
    background: #eaeaea;
    color: inherit;
    line-height: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgba(0,0,0,.25);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
}

.single-event-meta .event-action .element-pad .input-group-btn #minus:hover,
.single-event-meta .event-action .element-pad .input-group-btn #plus:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.single-event-meta .event-action .element-pad #num {
    height: 40px;
    width: 40px;
    border: 0;
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    color: rgba(102,102,102,.5);
    -webkit-box-shadow: none;
}

.single-event-meta .event-action .element-pad.v1 .small-text {
    font-weight: 400;
}

.single-event-meta .event-action .element-pad.v1 .price {
    display: block;
    font-size: 21px;
    color: #179bd7;
}

.single-event-meta .event-action .element-pad.sold-out .flat-button {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    background-color: #2294e0;
    width: 100%;
    padding: 20px 40px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.25);
}

.single-event-meta .event-action .element-pad.sold-out .flat-button:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

/* content-right */
.course-speaker .media > .pull-left.v1 img {
    margin-bottom: 35px;
}

.single-course-detail .content-content .content-dropcap.v1 {
    margin-bottom: 15px;
}

.single-course-detail .content-content .content-pad {
    margin-bottom: 15px;
}

.single-course-detail .content-content .content-pad .flat-button {
    display: inline-block;
    padding: 8px 20px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #eaeaea;
    margin-right: 5px;
}

.single-course-detail .content-content .content-pad .flat-button:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.single-course-detail .course-detail .course-info .v1 p {
    margin-bottom: 10px;
}

.single-course-detail .course-detail .course-info  {
    margin-bottom: 30px;
}

.single-course-detail .content-content .v1 ul li a {
    border: 2px solid #eaeaea;
}

.single-course-detail .content-content .v1 ul li a:hover {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

.single-course-detail .content-content .event-more-detail {
    border-top: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
    padding: 25px 0 16px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.single-course-detail .content-content .event-more-detail h4 {
    font-size: 18px;
    color: #343434;
    margin-bottom: 10px;    
}

.single-course-detail .content-content .event-more-detail .text {
    font-size: 10px;
    color: #343434;
    text-transform: uppercase;
    margin-bottom: 0;
}

.single-course-detail .content-content .event-more-detail p {
    margin-bottom: 12px;
}

.related-course .cr-content .cr-start.v1 {
    line-height: inherit;
}

/* Flat-ev-carousel
-------------------------------------------------------------- */
.flat-row.flat-ev-carousel {
    padding: 40px 0;
}

.flat-row.flat-ev-carousel .style-margin {
    margin-bottom: 40px;
}

.flat-ev-carousel .margin-small {
    margin: 0 -15px;
}

.posts-carousel.v4 .grid-item {
    padding: 0 7px 25px;
}

.posts-carousel.v2 .owl-theme .owl-controls .owl-nav div.owl-next {
    right: 10px;
    top: 16%;
}

.posts-carousel.v2 .owl-theme .owl-controls .owl-nav div.owl-prev {
    left: 4px;
    top: 16%;
}

.posts-carousel.v3 .owl-theme .owl-controls .owl-nav div.owl-next {
    right: 10px;
    top: 37%;
}

.posts-carousel.v3 .owl-theme .owl-controls .owl-nav div.owl-prev {
    left: 4px;
    top: 37%;
}

.posts-carousel.v4 .owl-theme .owl-controls .owl-nav div.owl-next {
    right: 0px;
    top: 37%;
}

.posts-carousel.v4 .owl-theme .owl-controls .owl-nav div.owl-prev {
    left: -3px;
    top: 37%;
}

.posts-carousel.v1.v2 .flat-blog-carousel .owl-controls .owl-dots .owl-dot span,
.posts-carousel.v3 .flat-blog-carousel .owl-controls .owl-dots .owl-dot span,
.posts-carousel.v4 .flat-blog-carousel .owl-controls .owl-dots .owl-dot span {
    border: 2px solid #000;
    opacity: .5;
    background: #fff;
}

.posts-carousel.v1.v2 .flat-blog-carousel .owl-controls  .owl-dots .owl-dot.active span,
.posts-carousel.v1.v2 .flat-blog-carousel .owl-controls  .owl-dots .owl-dot:hover span,
.posts-carousel.v3 .flat-blog-carousel .owl-controls .owl-dots .owl-dot.active span,
.posts-carousel.v3 .flat-blog-carousel .owl-controls .owl-dots .owl-dot.hover span,
.posts-carousel.v4 .flat-blog-carousel .owl-controls .owl-dots .owl-dot.active span,
.posts-carousel.v4 .flat-blog-carousel .owl-controls .owl-dots .owl-dot.hover span {
    opacity: 1;
    background: #fff;
}

/* sidebar v1 */
.sidebar.v1 .widget.widget-nav-menu ul li a:before {
    content: none;
}

/* course-list-table
-------------------------------------------------------------- */
.course-list-table .flat-all-course .title-list .title {
    font-size: 24px;
    line-height: 1.25;
    color: #343434;
    margin-bottom: 45px;
}

.course-list-table .courses-list .table .main-color-1-bg {
    background-color: #179bd7;
}

.course-list-table.table>thead>tr>th,
.course-list-table.table>tbody>tr>th,
.course-list-table.table>tfoot>tr>th,
.course-list-table.table>thead>tr>td,
.course-list-table.table>tbody>tr>td,
.course-list-table.table>tfoot>tr>td {
    padding: 12px 20px 15px;
    transition: all .2s;
    border-top: none;
    border-bottom: 1px dashed #eaeaea;
}

.course-list-table .courses-list table > thead > tr > th {
    border-bottom: none;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
} 

.course-list-table.table > tbody > tr:hover > td {
    background-color: #179bd7;
    color: #fff;
}

.course-list-table > tbody > tr > td a {
    color: inherit;
}

.course-list-table.table > tbody > tr:hover > a {
    color: #fff;
}

.course-list-table .flat-all-course.v1 {
    padding-top: 40px;
}

/* 404
-------------------------------------------------------------- */
.flat-404 .single-page-content .main-color-2 {
    color: #253b80;
}

.flat-404 .single-page-content .main-color-1-border {
    border-color: #179bd7;
}

.flat-404 .single-page-content .search-form {
    position: relative;
}

.flat-404 .single-page-content .form-control {
    border-radius: 0;
    margin-bottom: 0;
}

.flat-404 .single-page-content .btn-link {
    border: none;
    color: #b0b0b0;
    position: absolute;
    right: 0px;
    top: 0px;
    outline: none;
    padding: 7px 12px;
    font-size: 14px;
}

.flat-404 .single-page-content .btn-link:hover {
    color: inherit;
}

/* Member
-------------------------------------------------------------- */
.project-listing .filter-cat.v2 {
    text-align: left;
    margin: 2px -9px 25px;
}

.project-listing .filter-cat.v2 li.active a,
.project-listing .filter-cat.v2 li:hover {
    text-decoration: underline;
    color: #179bd7;
    background-color: transparent;
}

.project-listing .filter-cat.v2 li {
    border-right: solid 1px #eaeaea;
    padding-left: 8px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.project-listing .filter-cat.v2 li a {
    padding: 2px 9px;
    margin: -2px -9px;
}

.project-listing .project-portfolio.v1 .item {
    width: 33.33%;
}

.project-listing .project-portfolio.v1 .item .item-content {
    padding: 20px 30px;
    background-color: #f6f6f6;
}

.project-portfolio.v1 .item .item-content .item-title,
.member-single-post .content-pad .item-content .item-title {
    font-size: 21px;
    font-weight: 400;
    color: #343434;
    margin-bottom: 10px;
    line-height: 1.25;
}

.project-portfolio.v1 .item .item-content .small-text,
.member-single-post .content-pad .item-content .small-text {
    font-size: 10px;
    color: #343434;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.25;
}

.project-portfolio.v1 .item .item-content p {
    margin-bottom: 15px;
}

.project-portfolio.v1 .item .item-content ul li a,
.member-single-post .content-pad .item-content ul li a {
    background-color: #f6f6f6;
    border: solid 2px #666;
    color: #666;
}

.project-portfolio.v1 .item .item-content ul li a:hover,
.member-single-post .content-pad .item-content ul li a:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

/* Member-single
-------------------------------------------------------------- */
.member-single-post {
    margin-bottom: 25px;
}

.member-single-post .content-pad .item-content {
    border-top: none;
    padding-top: 0px;
}

.member-single-post .content-pad .item-content .member-tax {
    border-top: 2px solid #eaeaea;
    margin-top: 17px;
    padding-top: 14px;
    padding-bottom: 6px;
}

.member-single-post .content-pad .item-content .member-tax a {
    display: block;
    color: #999999;
    line-height: 1.7em;
}

.member-single-post .content-pad .item-content .member-tax a:hover {
    color: #179bd7;
}

.member-single-post .content-pad .item-content p {
    margin-bottom: 15px;
}

.member-single-post .content-pad .item-content ul li a {
    background-color: #fff;
}

.member-single .pure-content p {
    margin-bottom: 9px;
}

.course-list-table .flat-all-course.v1.v2 {
    padding-top: 0;
}

.course-list-table .flat-all-course .title-list.v1 .title {
    margin-bottom: 19px;
}

/* Flat-Preloader
-------------------------------------------------------------- */
.loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;  
}

.block-loader {
    background-color: #81beb9;
    float:left;
    height:24px;
    margin-left:7px;
    width:24px;
    opacity:0.1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}

.loader1{
    margin-left: -30px;
    -moz-animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
    -ms-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}

.loader2{
    margin-left: 0px;
    -moz-animation-delay:08s;
    -webkit-animation-delay:.8s;
    -ms-animation-delay:.8s;
    -o-animation-delay:.8s;
    animation-delay:.8s;
}

.loader3 {
    margin-left: 30px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    animation-delay:1.3s;
}

@-moz-keyframes bounceG{
    0% {
    -moz-transform:scale(1.2);
    opacity:1
    }

    100%{
    -moz-transform:scale(0.7);
    opacity:0.1
    }
    }

    @-webkit-keyframes bounceG{
    0% {
    -webkit-transform:scale(1.2);
    opacity:1
    }

    100% {
    -webkit-transform:scale(0.7);
    opacity:0.1
    }
    }

    @-ms-keyframes bounceG{
        0% {
        -ms-transform:scale(1.2);
        opacity:1
    }

    100% {
    -ms-transform:scale(0.7);
    opacity:0.1
    }
    }

    @-o-keyframes bounceG{
        0% {
            -o-transform:scale(1.2);
            opacity:1
        }

        100%{
            -o-transform:scale(0.7);
            opacity:0.1
        }
    }

    @keyframes bounceG{
    0% {
        transform:scale(1.2);
        opacity:1
        }

    100% {
        transform:scale(0.7);
        opacity:0.1
    }
}


