.nav-tabs {
    border-bottom: 1px solid #ddd0; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #ddd0;
    border-bottom-color: transparent;
}
.nav a {
    font-weight: bold;
    font-size: 16px;
}
 /*----- Tab Links -----*/

.tab-content {
    height: auto;
}
    
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
    
    .tabs ul {
        margin-bottom:20;
        padding:0;
    }
    
    .tab-links li {
        float:left;
        list-style:none;
        width:50%;
        padding: 10px;

    }
  .link  {
        display: block;
        background: #872b8e none repeat scroll 0% 0%!important;
        color:white;
        text-align: center;
        text-decoration: none;
        width: 90%;
        line-height: 30px;
    }
    .link:hover {
            background: #81c873!important;
            text-decoration:none;
        }
    .tab-links a {
        display: block;
        background: #000 none repeat scroll 0% 0%;
        color:white;
        text-align: center;
        text-decoration: none;
        width: 90%;
        line-height: 30px;
    }
 
        .tab-links a:hover {
            background: red;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
   
 
    /*----- Content of Tabs -----*/

     .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
@media (min-width: 1200px) {
 .tab-links li {
    width:16%!important;
  }
}