.slider-head{
    width: 100%;  
    height:450px;
    /*float: left;*/
    z-index: 1; 
    /*position: relative; */
    padding: 0px 25px 30px; 

   }
   .slider-content{
    width: 100%; 
    height: 70%;
    /*float: none;*/
    /*overflow: hidden;*/
   }
   .slider-items{
    padding: 5px;
    width: 33.333%; 
    height: 100%;
    float: left;
    overflow: hidden;
   }
   .slider-slides{
    width: 100%; 
    height: 95%;
    /*opacity:0.7;*/
    float: left; 
    transition: transform 6s;
    overflow: hidden;
    position: relative;

   }
  
.slider-inner{
    position: absolute;
    margin:0 auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*z-index: -1;*/
   /* background-color: #fff;
    transition: transform 3s;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0.8;*/
}
.slider-inner img{
   -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    width: 100%;
    height: 100%;
}
     
.inner-items{
  background-color: #000;
  z-index: 40;
  position: absolute;
  margin:0 auto;
    width: 100%;
    height: 100%;
    /*opacity: 0.8;*/
    transition: transform 6s;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0.5;
}

.slider-items:hover .slider-inner img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.slider-items:hover .inner-items{
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
background-color: #9c27b091;
opacity: 0.3;
}
.slide-plot{
/*position: absolute;
z-index: 41;
margin-top: 35%;
margin-left: 10%;
width: 75%;*/
margin-top: 20%;
position: absolute;
z-index: 41;
width: 100%;
padding: 10px;
bottom: 0;

}
.banner__title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    z-index: 1;
}
.text--reverse {
    color: #fff;
}
.heading--with-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.heading--secondary {
    font-size: 18px;
    font-size: 1.2857142857rem;
    font-weight: 700;
}
.heading {
    margin-bottom: 1em;
    line-height: 1.3em;
    position: relative;
}
.text--reverse:before {
    background: #fff;
}
.heading--sub-2:before {
    background: #3498D9 !important;
}
.heading--with-line:before {
    content: "";
    display: inline-block;
    min-height: 2.5em;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0.3em;
    -moz-box-flex: 0;
    -ms-flex: 0 0 0.3em;
    flex: 0 0 0.3em;
    background: #229EB6;
    margin-right: 1em;
}

.heading--multiline {
    line-height: 1.8em;
}
.text--italic, em {
    font-style: italic;
}

.text--natural, .text--pos-abs-top {
    font-size: 1rem;
    font-weight: 400;

}


/**/
@media only screen and (max-width: 680px){

.slider-head {
    width: 100%;
}
.slider-content {
    width: 100%;
    
}
.slider-items {
     width: 100%;
}
.slider-inner{
     width: 100%;
}
.slider-inner img {
     width: 100%;
     height: 100%;
}
}