<div style='padding-bottom:10px;'><?php echo $this->Session->flash(); ?></div>
<br><br>
<style type="text/css">
.feeds .col2 .date{padding: 0px !important;}
</style>
			<!-- END PAGE HEADER-->
			<!-- BEGIN DASHBOARD STATS -->

			<!-- <div class="watermark">Demo <br>Content</div> -->
			<div class="row">
				
				<div class="col-md-4 ">
					<div class="dashboard-stat green">
						<div class="visual">
							<i class="fa fa-barcode"></i>
						</div>
						<div class="details">
							<div class="number">
								 <?php echo $travels;?>
							</div>
							<div class="desc">
								 Total Universities
								 </div>
						</div>
						<?php ?>
						<a class="more" href="<?php  echo $this->webroot;?>admin/universities">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>	
						<?php  ?>	 
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="dashboard-stat purple">
						<div class="visual">
							<i class="fa fa-circle-o"></i>
						</div>
						<div class="details">
							<div class="number">
								<?php echo $advts;?>
							</div>
							<div class="desc">
								Total Courses
							</div>
						</div>
						<?php ?>
						<a class="more" href="<?php  echo $this->webroot;?>admin/courses">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
						<?php ?>
					</div>
				</div>
				
			<!-- END DASHBOARD STATS -->
			<div class="clearfix">
            </div>
            
            <div class="clearfix">
            </div>
    <br/><br/><br/><br/>
            
			
			<div class="clearfix">
			</div>
			<div class="clearfix">
			</div>
			<div class="clearfix">
			</div>
			<div class="row">
				
				