<?php $this->Html->addCrumb('Events', '/admin/events'); $paginationVariables = $this->Paginator->params();?>
<div style='padding-bottom:10px;'><?php echo $this->Session->flash(); ?></div>
<div class="row">
    <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                  <i class="fa fa-list-alt"></i><?php echo __('Events'); ?>                </div>
                <!-- <div class="tools">
                <a href="javascript:;" class="collapse"></a>
              </div> -->
            </div>
            <div class="portlet-body"><br />
                <div class="table-toolbar">
                    <div class="btn-group"> 
                        <?php echo $this->Form->create('', array('type' => 'get','role' => 'form', 'url' => array('controller' => strtolower('Events'), 'action' => 'index', 'admin' => true))); ?>
                            <div class="row">
                            <!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <!-- <div class="input-group input-medium" >
                                        <input type="text" class="form-control" placeholder="Search here" name="search">
                                        <span class="input-group-btn">
                                          <button class="btn green" type="button" onclick="this.form.submit()">Search <i class="fa fa-search"></i></button>
                                        </span>
                                    </div> -->
                                <!-- /input-group -->
                                </div>
                            <!-- /.col-md-6 -->
                            </div>
                        <!-- /.row -->
                        </form>
                    </div>
                    <div class="btn-group pull-right">
                        <div class="btn-group" style="padding-right:15px;">
                          <?php echo $this->Html->link(__('New Event <i class="fa fa-plus"></i>'), array('action' => 'add'), array('class' => 'btn green','escape' => FALSE)); ?> 
                        </div>
                        <!-- <button class="btn default"  onclick="window.location.href='<?php echo $this->webroot.'admin/Events/export'; ?>'">Export to CSV <i class="fa fa-download"></i> </button> -->
                    </div>
                </div>
                <br />
                <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover " id="sample_1">
                  <thead>
                      <tr>
                        <th>#</th>  
                        <th><?php echo $this->Paginator->sort('title'); ?></th>
                        <!-- <th><?php echo $this->Paginator->sort('content'); ?></th> -->
                        <th>Preview</th>
                        <th><?php echo $this->Paginator->sort('status'); ?></th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                  </thead>
                  <?php  if(isset($events) && sizeof($events)>0) {?>
                  <tbody>
                  <?php $slno=0; foreach ($events as $event): $slno++?>
                  <tr>
                     <td><?php echo $slno+$paginationVariables['limit']*($paginationVariables['page']-1); ?></td>
                      <td><?php echo h($event['Event']['title']); ?>&nbsp;</td>
                      <!-- <td><?php echo h($event['Event']['content']); ?>&nbsp;</td> -->
                      <td><?php if(!empty($event['Event']['image'])){ ?><img src="<?php echo $this->webroot .$eventImagePath.$event['Event']['image']; ?>" alt="" width="150" height="150"/> <?php } else{?> No Video Available <?php } ?>
                      <td><?php echo h($boolean_values_status[$event['Event']['status']]); ?>&nbsp;</td>
                      <td>
                          <?php echo $this->Html->link(__('<i class="fa fa-edit"></i> Edit'), array('action' => 'edit', $event['Event']['id']), array('class' => 'btn default btn-xs purple','escape' => FALSE)); ?>
                      </td>
                      <td>
                          <?php echo $this->Form->postLink(__('<i class="fa fa-trash-o"></i> Delete'), array('action' => 'delete', $event['Event']['id']), array('confirm' => 'Are you sure you want to delete this?','class' => 'btn red btn-xs black','escape' => FALSE)); ?>
                      </td>
                    </tr>
                  <?php endforeach; ?>
                   <?php } else {?>
                      <tr><td colspan='7' align='center'>No Records Found.</td></tr>
                  <?php }?>
                  </tbody>
                </table>
              </div>
                <div class="row">
                  <div class="col-md-5 col-sm-12" style="margin-top:10px;">
                      <div id="sample_1_length" class="dataTables_length">
                        <?php echo $this->Form->create('', array( 'url' => array('controller' => strtolower('Events'), 'action' => 'index'))); ?>
                            <label>Show 
                                <?php echo $this->Form->input('limit', array('name' => 'data[Event][limit]','type' => 'select', 'class' => 'form-control input-xsmall', 'label' => false,  'required' => false,'hiddenField' => false, 'style' => 'display:inline-block !important; padding-right:0px', 'onchange' => 'this.form.submit()', 'options' =>$default_limit_dropdown, 'default' => $limit, 'div' => false));?>
                            records
                            </label>
                            <?php echo $this->Form->end(); ?>
                          </div>
                        </div>
                        <!-- <div class="col-md-7 col-sm-12">
                          <div class="dataTables_paginate paging_bootstrap">
                            <?php $totalItem = $this->Paginator->counter('{:count}')?><?php $currentItem = $this->Paginator->counter('{:current}')?><?php if($totalItem>$currentItem) {?>
                            <ul class="pagination" style="visibility: visible;">
                                <li class="prev disabled">
                                      <?php echo $this->Paginator->prev('< ' . __(''), array(), null, array('class' => 'prev disabled'));?>
  
                                </li>
                                <li>
                                      <?php   echo $this->Paginator->numbers(array('separator' => '')); ?>
                                </li>
                                <li class="next disabled">
                                      <?php   echo $this->Paginator->next(__('') . ' >', array(), null, array('class' => 'next'));  ?>
                                </li>
                            </ul>
                      <?php }?>
                        </div>
                      </div> -->
                </div>
          </div>
      </div>
    <!-- END EXAMPLE TABLE PORTLET-->
  </div>
</div>
